<template>
  <div class="app-container">
    <div style="margin-bottom: 10px;">
      <el-button style="margin-right: 10px;" @click="handleCreate" type="primary" icon="el-icon-refresh">刷新</el-button>
      <el-button type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">导出</el-button>
    </div>
    <el-table :data="list" :default-sort = "{prop: 'updatetime', order: 'descending'}" v-loading.body="listLoading" element-loading-text="Loading" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label='ID' width="60">
        <template slot-scope="scope">
          {{scope.$index}}
        </template>
      </el-table-column>
      <el-table-column prop="tag" label="标签" width="110" align="center" sortable>
        <template slot-scope="scope">
          {{scope.row.tag}}
        </template>
      </el-table-column>
      <el-table-column prop="station" label="基站" width="110" align="center" sortable>
        <template slot-scope="scope">
          <span>{{scope.row.station}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="goodsname" label="药品名称" width="150" sortable>
        <template slot-scope="scope">
          <span>{{scope.row.goodsname}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="locatorcode" label="货位编码" min-width="220px" sortable>
        <template slot-scope="scope">
          <template v-if="scope.row.edit">
            <el-input class="edit-input" size="small" v-model="scope.row.locatorcode"></el-input>
            <el-button class='cancel-btn' size="small" icon="el-icon-refresh" type="warning" @click="cancelEdit(scope.row)">取消</el-button>
          </template>
          <span v-else>{{scope.row.locatorcode}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="sendnum" label="发送数" width="110" align="center" sortable>
        <template slot-scope="scope">
          {{scope.row.sendnum}}
        </template>
      </el-table-column>
      <el-table-column prop="sendstatus" class-name="status-col" label="状态" width="110" align="center" :filters='filtersType' :filter-method='filterType' sortable>
        <template slot-scope="scope">
          <el-tag :type="scope.row.sendstatus | statusFilter">{{scope.row.sendstatus | statusValueFilter}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="successnum" label="累计数" width="110" align="center" sortable>
        <template slot-scope="scope">
          {{scope.row.successnum}}
        </template>
      </el-table-column>
      <el-table-column prop="failure" label="结果" sortable>
        <template slot-scope="scope">
          {{scope.row.failure}}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="updatetime" label="时间" width="200" sortable>
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span>{{scope.row.updatetime | parseTime('{y}-{m}-{d} {h}:{i}:{s}')}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="功能" width="200" fixed="right">
        <template slot-scope="scope">
          <el-button v-if="scope.row.edit" type="success" @click="confirmEdit(scope.row)" size="small" icon="el-icon-circle-check-outline">Ok</el-button>
          <el-button v-else type="primary" @click='scope.row.edit=!scope.row.edit' size="small" icon="el-icon-edit">编辑</el-button>
          <el-button type="success" @click="confirmSend(scope.row)" size="small" icon="el-icon-circle-check-outline">发送</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getList, updateTagBySend, updateTagByLocatorCode } from '@/api/table'
import { parseTime } from '@/utils'
import waves from '@/directive/waves' // 水波纹指令

export default {
  directives: {
    waves
  },
  data() {
    return {
      list: null,
      filtersType: [{ value: 0, text: '需要发送' }, { value: 1, text: '失败' }, { value: 2, text: '成功' }],
      listLoading: false,
      downloadLoading: false
    }
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        2: 'success',
        0: 'gray',
        1: 'danger'
      }
      return statusMap[status]
    },
    statusValueFilter(status) {
      const statusMap = {
        2: '成功',
        0: '需要发送',
        1: '失败'
      }
      return statusMap[status]
    }
  },
  created() {
    const self = this
    if (self && !self._isDestroyed) {
      setInterval(() => {
        if (self && !self._isDestroyed) {
          self.fetchData()
          self.$message({
            message: '更新任务列表!',
            type: 'info'
          })
        }
      }, 30000) // 30秒
    }
    self.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      getList(this.listQuery).then(response => {
        console.log(response)
        this.list = response.map(v => {
          this.$set(v, 'edit', false) // https://vuejs.org/v2/guide/reactivity.html

          v.originalTitle = v.locatorcode //  will be used when user click the cancel botton

          return v
        })
        // this.list = response
        this.listLoading = false
      })
    },
    handleCreate() {
      this.fetchData()
    },
    filterType(value, row) {
      return row.sendstatus === value
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['标签', '基站', '药品名称', '货位编码']
        const filterVal = ['tag', 'station', 'goodsname', 'locatorcode']
        const data = this.formatJson(filterVal, this.list)
        excel.export_json_to_excel(tHeader, data, 'tag-list')
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'updatetime') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    cancelEdit(row) {
      row.locatorcode = row.originalTitle
      row.edit = false
      this.$message({
        message: '已恢复到原来的价值。',
        type: 'warning'
      })
    },
    confirmEdit(row) {
      const myQuery = { tag: row.tag, station: row.station, locatorcode: row.locatorcode }
      updateTagByLocatorCode(myQuery).then(response => {
        console.log('updateTagByLocatorCode:', response)
        row.edit = false
        row.originalTitle = row.locatorcode
        this.$message({
          message: '编辑完成。',
          type: 'success'
        })
      })
    },
    confirmSend(row) {
      const myQuery = { tag: row.tag, station: row.station }
      updateTagBySend(myQuery).then(response => {
        console.log('updateTagBySend:', response)
        row.sendnum = response[0].sendnum
        row.sendstatus = response[0].sendstatus
        this.$message({
          message: '更新发送状态成功！',
          type: 'success'
        })
      })
    }
  }
}
</script>

<style scoped>
  .edit-input {
    padding-right: 80px;
  }
  .cancel-btn {
    position: absolute;
    right: 10px;
    top: 12px;
  }
</style>
