<template>
  <div class="app-container">
    <upload-excel-component @on-selected-file='selected'></upload-excel-component>
    <div style="margin-bottom: 10px;">
      <el-button style="margin-right: 10px;" @click="handleCreate" type="primary" icon="el-icon-refresh">清除</el-button>
      <el-button :disabled="isOK" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">导入</el-button>
    </div>
    <el-table :data="tableData" border highlight-current-row style="width: 100%;margin-top:20px;">
      <el-table-column align="center" label='ID' width="60">
        <template slot-scope="scope">
          {{scope.$index}}
        </template>
      </el-table-column>
      <el-table-column v-for='item of tableHeader' :prop="item" :label="item" :key='item'>
      </el-table-column>
      <el-table-column prop="failure" label="结果" sortable>
        <template slot-scope="scope">
          <el-tag :type="scope.row.failure | statusFilter">{{scope.row.failure}}</el-tag>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import UploadExcelComponent from '@/components/UploadExcel/index.vue'
import waves from '@/directive/waves' // 水波纹指令
import { excelImportByTags } from '@/api/table'

export default {
  name: 'uploadExcel',
  directives: {
    waves
  },
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader: [],
      downloadLoading: false,
      isOK: true
    }
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        'update': 'success',
        'insert': 'gray',
        'Tag不能为空': 'danger',
        'Station不能为空': 'danger',
        'Type不能为空': 'danger',
        'Locatorcode不能为空': 'danger'
      }
      return statusMap[status]
    }
  },
  methods: {
    selected(data) {
      this.tableData = data.results
      this.tableHeader = data.header
      console.log(this.tableHeader, this.tableData)
      this.isOK = false
    },
    handleCreate() {
      this.tableData = []
      this.tableHeader = []
      this.isOK = true
    },
    handleDownload() {
      this.downloadLoading = true
      const myQuery = this.tableData
      excelImportByTags(myQuery).then(response => {
        console.log('excelImportByTags:', response)
        this.tableData = response
        this.$message({
          message: '更新成功！',
          type: 'success'
        })
        this.downloadLoading = false
        this.isOK = true
      })
    }
  }
}
</script>
