<template>
  <div class="menu-wrapper">
    <template v-for="item in routes" v-if="!item.hidden&&item.children">

      <router-link v-if="item.children.length===1 && !item.children[0].children && !item.alwaysShow"
                   :to="item.path+'/'+item.children[0].path" :key="item.children[0].name">
        <el-menu-item :index="item.path+'/'+item.children[0].path" :class="{'submenu-title-noDropdown':!isNest}">
          <svg-icon v-if="item.children[0].meta&&item.children[0].meta.icon"
                    :icon-class="item.children[0].meta.icon"/>
          <span v-if="item.children[0].meta&&item.children[0].meta.title">{{item.children[0].meta.title}}</span>
        </el-menu-item>
      </router-link>

      <el-submenu v-else :index="item.name||item.path" :key="item.name">
        <template slot="title">
          <svg-icon v-if="item.meta&&item.meta.icon" :icon-class="item.meta.icon"/>
          <span v-if="item.meta&&item.meta.title">{{item.meta.title}}</span>
        </template>

        <template v-for="child in item.children" v-if="!child.hidden">
          <sidebar-item :is-nest="true" class="nest-menu" v-if="child.children&&child.children.length>0"
                        :routes="[child]" :key="child.path"/>

          <router-link v-else :to="item.path+'/'+child.path" :key="child.name">
            <el-menu-item :index="item.path+'/'+child.path">
              <svg-icon v-if="child.meta&&child.meta.icon" :icon-class="child.meta.icon"/>
              <span v-if="child.meta&&child.meta.title">{{child.meta.title}}</span>
            </el-menu-item>
          </router-link>
        </template>
      </el-submenu>
    </template>

    <el-submenu index="1-4">
      <template slot="title">
        <svg-icon icon-class="example"></svg-icon>
        <span slot="title">管理</span>
      </template>
      <el-menu-item index="1-4-1">
        <svg-icon icon-class="example"></svg-icon>
        <span @click="See('/druid')">Druid 监视器</span>
      </el-menu-item>
      <el-menu-item index="1-4-2">
        <svg-icon icon-class="example"></svg-icon>
        <span @click="See('/h2-console')">H2 控制台</span>
      </el-menu-item>
      <el-menu-item index="1-4-3">
        <svg-icon icon-class="example"></svg-icon>
        <span @click="See('/swagger-ui.html')">swagger</span>
      </el-menu-item>
    </el-submenu>

  </div>
</template>

<script>
  export default {
    name: 'SidebarItem',
    props: {
      routes: {
        type: Array
      },
      isNest: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      See(e) {
        window.open(e)
      }
    }
  }
</script>
